<a href="https://colab.research.google.com/github/Sandip19906666/Capstone-Project/blob/main/capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [6]:
#Data collection

In [7]:
produt_data = pd.read_csv("/content/drive/MyDrive/Customer[1].csv")

In [8]:
product_Transc= pd.read_csv("/content/drive/MyDrive/Transactions[1].csv")

In [9]:
prod_catinfo= pd.read_csv("/content/drive/MyDrive/prod_cat_info[1].csv")

In [10]:
# Data Preprocessing

In [11]:
print(product_Transc)

       transaction_id  cust_id   tran_date  prod_subcat_code  prod_cat_code  \
0         80712190438   270351  28-02-2014                 1              1
1         29258453508   270384  27-02-2014                 5              3
2         51750724947   273420  24-02-2014                 6              5
3         93274880719   271509  24-02-2014                11              6
4         51750724947   273420  23-02-2014                 6              5
...               ...      ...         ...               ...            ...
23048     94340757522   274550  25-01-2011                12              5
23049     89780862956   270022  25-01-2011                 4              1
23050     85115299378   271020  25-01-2011                 2              6
23051     72870271171   270911  25-01-2011                11              5
23052     77960931771   271961  25-01-2011                11              5

       Qty  Rate      Tax  total_amt Store_type
0       -5  -772  405.300  -4265.300     e-Shop
1       -5 -1497  785.925  -8270.925     e-Shop
2       -2  -791  166.110  -1748.110   TeleShop
3       -3 -1363  429.345  -4518.345     e-Shop
4       -2  -791  166.110  -1748.110   TeleShop
...    ...   ...      ...        ...        ...
23048    1  1264  132.720   1396.720     e-Shop
23049    1   677   71.085    748.085     e-Shop
23050    4  1052  441.840   4649.840        MBR
23051    3  1142  359.730   3785.730   TeleShop
23052    1   447   46.935    493.935   TeleShop

[23053 rows x 10 columns]

In [12]:
user_item_matrix = product_Transc.pivot_table(index='cust_id', columns='transaction_id', values='Qty', fill_value=0)

In [13]:
print(user_item_matrix)

transaction_id  3268991      7073244      10861359     15741026     \
cust_id
266783                    0            0            0            0
266784                    0            0            0            0
266785                    0            0            0            0
266788                    0            0            0            0
266794                    0            0            0            0
...                     ...          ...          ...          ...
275257                    0            0            0            0
275261                    0            0            0            0
275262                    0            0            0            0
275264                    0            0            0            0
275265                    0            0            0            0

transaction_id  16165359     18629385     29740699     33156503     \
cust_id
266783                    0            0            0            0
266784                    0            0            0            0
266785                    0            0            0            0
266788                    0            0            0            0
266794                    0            0            0            0
...                     ...          ...          ...          ...
275257                    0            0            0            0
275261                    0            0            0            0
275262                    0            0            0            0
275264                    0            0            0            0
275265                    0            0            0            0

transaction_id  38816402     41453307     ...  99942287499  99947326428  \
cust_id                                   ...
266783                    0            0  ...            0            0
266784                    0            0  ...            0            0
266785                    0            0  ...            0            0
266788                    0            0  ...            0            0
266794                    0            0  ...            0            0
...                     ...          ...  ...          ...          ...
275257                    0            0  ...            0            0
275261                    0            0  ...            0            0
275262                    0            0  ...            0            0
275264                    0            0  ...            0            0
275265                    0            0  ...            0            0

transaction_id  99952735718  99957916781  99959918143  99963516507  \
cust_id
266783                    0            0            0            0
266784                    0            0            0            0
266785                    0            0            0            0
266788                    0            0            0            0
266794                    0            0            0            0
...                     ...          ...          ...          ...
275257                    0            0            0            0
275261                    0            0            0            0
275262                    0            0            0            0
275264                    0            0            0            0
275265                    0            0            0            0

transaction_id  99967775192  99985121471  99986751618  99987549630
cust_id
266783                    0            0            0            0
266784                    0            0            0            0
266785                    0            0            0            0
266788                    0            0            0            0
266794                    0            0            0            0
...                     ...          ...          ...          ...
275257                    0            0            0            0
275261                    0            0            0            0
275262                    0            0            0            0
275264                    0            0            0            0
275265                    0            0            0            0

[5506 rows x 20878 columns]

In [14]:
#Recommendation Techniques: Collaborative Filtering
# Split data into training and validation sets
train_data, val_data = train_test_split(user_item_matrix, test_size=0.2, random_state=42)

In [15]:
print(train_data,val_data)

transaction_id  3268991      7073244      10861359     15741026     \
cust_id
274755                    0            0            0            0
268285                    0            0            0            0
273471                    0            0            0            0
270542                    0            0            0            0
271252                    0            0            0            0
...                     ...          ...          ...          ...
272602                    0            0            0            0
274806                    0            0            0            0
274853                    0            0            0            0
275090                    0            0            0            0
268109                    0            0            0            0

transaction_id  16165359     18629385     29740699     33156503     \
cust_id
274755                    0            0            0            0
268285                    0            0            0            0
273471                    0            0            0            0
270542                    0            0            0            0
271252                    0            0            0            0
...                     ...          ...          ...          ...
272602                    0            0            0            0
274806                    0            0            0            0
274853                    0            0            0            0
275090                    0            0            0            0
268109                    0            0            0            0

transaction_id  38816402     41453307     ...  99942287499  99947326428  \
cust_id                                   ...
274755                    0            0  ...            0            0
268285                    0            0  ...            0            0
273471                    0            0  ...            0            0
270542                    0            0  ...            0            0
271252                    0            0  ...            0            0
...                     ...          ...  ...          ...          ...
272602                    0            0  ...            0            0
274806                    0            0  ...            0            0
274853                    0            0  ...            0            0
275090                    0            0  ...            0            0
268109                    0            0  ...            0            0

transaction_id  99952735718  99957916781  99959918143  99963516507  \
cust_id
274755                    0            0            0            0
268285                    0            0            0            0
273471                    0            0            0            0
270542                    0            0            0            0
271252                    0            0            0            0
...                     ...          ...          ...          ...
272602                    0            0            0            0
274806                    0            0            0            0
274853                    0            0            0            0
275090                    0            0            0            0
268109                    0            0            0            0

transaction_id  99967775192  99985121471  99986751618  99987549630
cust_id
274755                    0            0            0            0
268285                    0            0            0            0
273471                    0            0            0            0
270542                    0            0            0            0
271252                    0            0            0            0
...                     ...          ...          ...          ...
272602                    0            0            0            0
274806                    0            0            0            0
274853                    0            0            0            0
275090                    0            0            0            0
268109                    0            0            0            0

[4404 rows x 20878 columns] transaction_id  3268991      7073244      10861359     15741026     \
cust_id
273463                    0            0            0            0
268647                    0            0            0            0
273734                    0            0            0            0
275151                    0            0            0            0
272636                    0            0            0            0
...                     ...          ...          ...          ...
273103                    0            0            0            0
268350                    0            0            0            0
271823                    0            0            0            0
273459                    0            0            0            0
270074                    0            0            0            0

transaction_id  16165359     18629385     29740699     33156503     \
cust_id
273463                    0            0            0            0
268647                    0            0            0            0
273734                    0            0            0            0
275151                    0            0            0            0
272636                    0            0            0            0
...                     ...          ...          ...          ...
273103                    0            0            0            0
268350                    0            0            0            0
271823                    0            0            0            0
273459                    0            0            0            0
270074                    0            0            0            0

transaction_id  38816402     41453307     ...  99942287499  99947326428  \
cust_id                                   ...
273463                    0            0  ...            0            0
268647                    0            0  ...            0            0
273734                    0            0  ...            0            0
275151                    0            0  ...            0            0
272636                    0            0  ...            0            0
...                     ...          ...  ...          ...          ...
273103                    0            0  ...            0            0
268350                    0            0  ...            0            0
271823                    0            0  ...            0            0
273459                    0            0  ...            0            0
270074                    0            0  ...            0            0

transaction_id  99952735718  99957916781  99959918143  99963516507  \
cust_id
273463                    0            0            0            0
268647                    0            0            0            0
273734                    0            0            0            0
275151                    0            0            0            0
272636                    0            0            0            0
...                     ...          ...          ...          ...
273103                    0            0            0            0
268350                    0            0            0            0
271823                    0            0            0            0
273459                    0            0            0            0
270074                    0            0            0            0

transaction_id  99967775192  99985121471  99986751618  99987549630
cust_id
273463                    0            0            0            0
268647                    0            0            0            0
273734                    0            0            0            0
275151                    0            0            0            0
272636                    0            0            0            0
...                     ...          ...          ...          ...
273103                    0            0            0            0
268350                    0            0            0            0
271823                    0            0            0            0
273459                    0            0            0            0
270074                    0            0            0            0

[1102 rows x 20878 columns]

In [16]:
user_similarity = cosine_similarity(train_data)
item_similarity = cosine_similarity(train_data.T)

In [17]:
# Predictions based on similarity scores

In [18]:
def predict_user_based(user_item_matrix, similarity_matrix):
    pred = similarity_matrix.dot(user_item_matrix) / np.array([np.abs(similarity_matrix).sum(axis=1)]).T
    return pred

In [19]:
def predict_item_based(user_item_matrix, similarity_matrix):
    pred = user_item_matrix.dot(similarity_matrix) / np.array([np.abs(similarity_matrix).sum(axis=1)])
    return pred

In [20]:
#make predictions

In [21]:
user_predictions = predict_user_based(train_data, user_similarity)
item_predictions = predict_item_based(train_data, item_similarity)

<ipython-input-18-6f8ee0645072>:2: RuntimeWarning: divide by zero encountered in divide
  pred = similarity_matrix.dot(user_item_matrix) / np.array([np.abs(similarity_matrix).sum(axis=1)]).T
<ipython-input-18-6f8ee0645072>:2: RuntimeWarning: invalid value encountered in divide
  pred = similarity_matrix.dot(user_item_matrix) / np.array([np.abs(similarity_matrix).sum(axis=1)]).T

In [22]:
#Evaluation Metrics

In [26]:
def get_accuracy(predictions, actual):
    pred_flattened = predictions[val_data.nonzero()]
    actual_flattened = actual[val_data.nonzero()]
    return accuracy_score(np.round(pred_flattened), actual_flattened)

In [ ]:
user_accuracy = get_accuracy(user_predictions, val_data)
item_accuracy = get_accuracy(item_predictions, val_data)

print("User-based CF Accuracy:", user_accuracy)
print("Item-based CF Accuracy:", item_accuracy)